<html>


<head>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" />
  <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet" />

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/147/147142.png" />
  <title>Duy Anh's Toys</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous" />
  <!-- JavaScript Bundle with Popper -->


</head>

<body>
  <header>
    <nav class="navbar navbar-dark fixed-top" style="background-color: brown;">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <img src="https://cdn-icons-png.flaticon.com/512/5016/5016128.png" width="40" height="35"
            class="d-inline-block align-top" alt="" />
          Duy-Anh Super Toys</a>

       


        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar"
          aria-controls="offcanvasDarkNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end text-bg-danger" tabindex="-1" id="offcanvasDarkNavbar"
          aria-labelledby="offcanvasDarkNavbarLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Duy Anh
              Menu</h5>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
              aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/toyshop/list">List Super Toy</a>
              </li>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/toyshop/order">Order right now !</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/linknaocungduoc">About</a>
              </li>
               <a class="navbar-brand" href="/signup
 ">
          <img src="https://cdn-icons-png.flaticon.com/512/7179/7179813.png" width="40" height="35"
            class="d-inline-block align-top" alt="" />
          Signing Up !</a>
        <a class="navbar-brand" href="/signup/login
 ">
          <img src="https://cdn-icons-png.flaticon.com/512/1828/1828391.png" width="40" height="35"
            class="d-inline-block align-top" alt="" />
          Login !</a>

<a class="navbar-brand" href="/toyshop/list
 ">
          <img src="https://cdn-icons-png.flaticon.com/512/1828/1828424.png" width="40" height="35"
            class="d-inline-block align-top" alt="" />
          Logout !</a>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  Menu (Only Admin)
                </a>
                <ul class="dropdown-menu dropdown-menu-dark">
                  
                  <li><a class="dropdown-item" href="/admin">Super Admin Page</a></li>
                  <li><a class="dropdown-item" href="/user">Super User Page</a></li>
                  <li><a class="dropdown-item" href="/toyshop">Super Toy Shop </a></li>
                  <li>
                    <hr class="dropdown-divider" />
                  </li>
                 
                </ul>
              </li>
            </ul>
            <form class="d-flex mt-3" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
              <button class="btn btn-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </div>
    </nav>
  </header>

  {{{body}}}
  <div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <br>
    <br>
    <br>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>
  <footer class="text-center text-white" style="background-color: #caced1;">
    <!-- Grid container -->
    <div class="container p-4">
      <!-- Section: Images -->
      <section class="">
        <div class="row">
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div class="bg-image hover-overlay ripple shadow-1-strong rounded" data-ripple-color="light">
              <img src="https://mdbcdn.b-cdn.net/img/new/fluid/city/113.webp" class="w-100" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
              </a>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div class="bg-image hover-overlay ripple shadow-1-strong rounded" data-ripple-color="light">
              <img src="https://mdbcdn.b-cdn.net/img/new/fluid/city/111.webp" class="w-100" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
              </a>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div class="bg-image hover-overlay ripple shadow-1-strong rounded" data-ripple-color="light">
              <img src="https://mdbcdn.b-cdn.net/img/new/fluid/city/112.webp" class="w-100" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(27, 197, 27, 0.2);"></div>
              </a>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div class="bg-image hover-overlay ripple shadow-1-strong rounded" data-ripple-color="light">
              <img src="https://mdbcdn.b-cdn.net/img/new/fluid/city/114.webp" class="w-100" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(33, 195, 43, 0.2);"></div>
              </a>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div class="bg-image hover-overlay ripple shadow-1-strong rounded" data-ripple-color="light">
              <img src="https://mdbcdn.b-cdn.net/img/new/fluid/city/115.webp" class="w-100" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(18, 205, 18, 0.2);"></div>
              </a>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div class="bg-image hover-overlay ripple shadow-1-strong rounded" data-ripple-color="light">
              <img src="https://mdbcdn.b-cdn.net/img/new/fluid/city/116.webp" class="w-100" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(16, 168, 21, 0.2);"></div>
              </a>
            </div>
          </div>
        </div>
      </section>
      <!-- Section: Images -->
    </div>


    <!-- Duy Anh Dz -->
    <div class="text-center p-3" style="background-color: rgba(62, 13, 209, 0.2);">
      © 2022 Copyright:
      <a class="text-white"
        href="https://i.vietgiaitri.com/2021/5/3/cdm-che-anh-sep-phat-cau-vi-bi-loi-ra-so-sanh-voi-kha-banh-va-among-us-trong-mv-muon-roi-ma-sao-con-8be-5742685.jpg">Duy
        Anh DZ</a>
    </div>

  </footer>
</body>

</html>