<form action="/admin/add" method="post" class="card p-3 bg-light text-center">
   <h2 class="text text-primary">Add new admin</h2>
   <div class="form-group">
      <label class="text-success h6">Admin Name</label>
      <input class="form-control" type="text" name="name" required minlength="3" maxlength="2000">
   </div>
   <div class="form-group mt-3">
      <label class="text-success h6">Admin Email</label>
      <input class="form-control" type="email" name="email" required minlength="3" maxlength="2000">
   </div>
   <div class="form-group mt-3">
      <label class="text-success h6">Admin Gender</label><br>
      Male <input type="radio" name="gender" value="Male">
      Female <input type="radio" name="gender" value="Female">
   </div>
   <div class="form-group mt-3">
      <label class="text-success h6">Admin Image</label>
      <input class="form-control" type="text" name="image" required>
   </div>
   <div class="form-group mt-3">
      <label class="text-success h6">Admin Birthday</label>
      <input class="form-control" type="date" name="dob" required>
   </div>
   <div class="form-group mt-3">
      <label class="text-success h6">Admin Year</label>
      <select name="year" class="form-control">
         <option value="">Select a year</option>
         <option value="1">1</option>
         <option value="2">2</option>
         <option value="3">3</option>
         <option value="4">4</option>
      </select>
   </div>
   <div class="form-group mt-3">
      <label class="text-success h6">Admin Description</label>
      <input class="form-control" type="text" name="description" required min=5 max=100>
   </div>
   <div class="form-group mt-3">
      <label class="text-success h6">Graduated</label>
      <input type="checkbox" name="graduated" value="true">
   </div>
   <div class="form-group mt-3">
      <input class="btn btn-primary mt-3" type="submit" value="Add now!">
   </div>
</form>