body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(225, 255, 249);
  
   /* background-image: url("https://code24h.com/pictures/picfullsizes/2018/08/12/kgy1534042923.png"); */
}

a {
  color: #00B7FF;
}
img, svg
{
  border-radius: 30%;
}
.btn
{
  border-radius: 50%;
}